<nav style="position: relative;">

  <div class="nav-dropdown" style="position: absolute; z-index: 1;">

    <div class="nav-dropdown__collection nav-dropdown__collection-mens">

      <div class="nav-dropdown__col nav-dropdown__col-1">
        <h5>New and Featured</h5>
      </div>

      <div class="nav-dropdown__col nav-dropdown__col-2">
        <h5>Shoes</h5>
        {% comment %} Want: {% render 'josh', collection_name: 'mens', tag: 'Shoes' %} {% endcomment %}
        {% render 'josh', collection: collections['mens'], type: 'shoes' %}
      </div>

      <div class="nav-dropdown__col nav-dropdown__col-3">
        <h5>Clothing</h5>
        {% comment %} Want: {% render 'josh', collection_name: 'mens', tag: 'Clothing' %} {% endcomment %}
        {% render 'josh', collection: collections['mens'], type: 'clothing' %}
      </div>
      
      <div class="nav-dropdown__col nav-dropdown__col-4">
        <h5>Col-4</h5>
      </div>


    </div>

    <div class="nav-dropdown__collection nav-dropdown__collection-womens">

      <div class="nav-dropdown__col nav-dropdown__col-1">
        <h5>New and Featured</h5>
      </div>

      <div class="nav-dropdown__col nav-dropdown__col-2">
        <h5>Shoes</h5>
        {% comment %} Want: {% render 'josh', collection_name: 'mens', tag: 'Shoes' %} {% endcomment %}
        {% render 'josh', collection: collections['womens'], type: 'shoes' %}
      </div>

      <div class="nav-dropdown__col nav-dropdown__col-3">
        <h5>Clothing</h5>
        {% comment %} Want: {% render 'josh', collection_name: 'mens', tag: 'Clothing' %} {% endcomment %}
        {% render 'josh', collection: collections['womens'], type: 'clothing' %}
      </div>
      
      <div class="nav-dropdown__col nav-dropdown__col-4">
        <h5>Col-4</h5>
      </div>


    </div>

  </div>

  <div class="nav-desktop" style="position: sticky; z-index: 2;">
    
    <div class="nav__top">

      <div class="content-container">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
          <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
        </svg> -->

        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
          <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
        </svg> -->
      </div>

      <div class="content-container">
      </div>

      <div class="content-container">
        <ul>
          <li><a href="">Help</a></li>
          <li><a href="">Join</a></li>
          <li><a href="">Sign In</a></li>
        </ul>
      </div>

    </div>


    <div class="nav__bottom">

      <div class="content-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
          <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
        </svg>
      </div>
      
      <ul class="content-container nav-items">
        <li class="nav-item" data-id="new_releases">
          <span class="nav-item__text">New Releases</span>
        </li>
        <li class="nav-item" data-id="mens">
          <span class="nav-item__text">Men</span>
        </li>
        <li class="nav-item" data-id="womens">
          <span class="nav-item__text">Women</span>
        </li>
        <li class="nav-item hide-below-1100" data-id="kids">
          <span class="nav-item__text">Kids</span>
        </li>
        <li class="nav-item hide-below-1300" data-id="sale">
          <span class="nav-item__text">Sale</span>
        </li>
      </ul>

      <div class="content-container">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg>

      </div>

    </div>



  </div>

</nav>
