:root {
  --mobile-nav-height:    60px;
  --desktop-bar-1-height: 48px;
  --desktop-bar-2-height: 60px;
  --desktop-nav-height:   calc( var(--desktop-bar-1-height) + var(--desktop-bar-2-height));
  --nav-dropdown-height: 400px;
  --nav-dropdown-shift-desktop: calc(-1* calc(var(--nav-dropdown-height) - var(--desktop-nav-height)));
  --nav-dropdown-shift-mobile:  calc(-1* calc(var(--nav-dropdown-height) - var(--mobile-nav-height )));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  background-color: #F5F5F5;
  color: #111;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: inherit;
}

.hide-below-1100 {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .hide-below-1100 {
    border: dashed blue 5px;
    display: none !important;
  }
}

.hide-below-1200 {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .hide-below-1200 {
    display: none !important;
  }
}

.hide-below-1300 {
  display: inline;
}

@media screen and (max-width: 1300px) {
  .hide-below-1300 {
    display: none !important;
  }
}

.container {
  width: 100%;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
}

a {
  color: #111;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

nav {
  background: #F5F5F5;
}

nav .nav-desktop .nav__top {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  height: var(--desktop-bar-1-height);
  padding-right: 1%;
  background: #F5F5F5;
}

nav .nav-desktop .nav__top .content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .nav-desktop .nav__top .content-container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.1em;
}

nav .nav-desktop .nav__top .content-container ul li {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav .nav-desktop .nav__top .content-container ul li:not(:last-child) {
  border-right: solid black 1px;
}

nav .nav-desktop .nav__bottom {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  width: 100%;
  height: var(--desktop-bar-2-height);
  background: #fff;
}

nav .nav-desktop .nav__bottom .content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .nav-desktop .nav__bottom .content-container:not(.nav-items):nth-child(1) {
  padding-right: 50%;
}

nav .nav-desktop .nav__bottom .content-container:not(.nav-items):nth-child(3) {
  padding-left: 50%;
}

nav .nav-desktop .nav__bottom .content-container.nav-items .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.4em;
  transition: border 0.2s ease, background 0.2s ease;
  border: dashed green 1px;
}

nav .nav-desktop .nav__bottom .content-container.nav-items .nav-item:hover {
  cursor: pointer;
}

nav .nav-desktop .nav__bottom .content-container.nav-items .nav-item .nav-item__text {
  border: solid hotpink 1px;
}

nav .nav-desktop .nav__bottom .content-container.nav-items .nav-item .nav-item__text.clicked {
  border-bottom: solid black 3px;
}
