$bg: yellow;


// /* {% assign header_color = '#7ab55c' %} */
$primary-color-brighter: calc(#{'"{{ "#7ab55c" | color_brightness }}"'} / 100);



* {
  // background-color: $bg;
  // https://adambohannon.me/shopify-development-using-liquid-syntax-in-sass-and-compiling-with-gulp
  background-color: #{'"{{ settings.background_color }}"'};
  color: $primary-color-brighter;
}