.nav-dropdown { position: fixed;

  top: calc(-1 * var(--nav-dropdown-height));
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  height: var(--nav-dropdown-height);
  width: 100vw;
  



  background: $background-1;

  @media screen and (max-width: 1024px) { // x <= 1024
    & { display: none; }
  }

  &__col {
    h5 {
      color: $color-1;
      font-size: 1.4em;
    }
    a {
      color: $color-3;
      font-size: 1.35em;
    }
    // border: dashed hotpink 5px;
  }
}