.nav-dropdown { position: fixed;

  top: calc(-1 * var(--nav-dropdown-height));
  z-index: 1;

  height: var(--nav-dropdown-height);
  width: 100vw;

  background: $background-1;

  @media screen and (max-width: 1024px) { // x <= 1024
    & { display: none; }
  }

  .nav-dropdown__collection-mens {
    background: lightblue;
  }
  .nav-dropdown__collection-womens {
    background: lightgreen;
  }
  .nav-dropdown__collection {

    display: none; // Switch specific panel to display: grid on click of nav-item
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    .nav-dropdown__col {
      h5 {
        color: $color-1;
        font-size: 1.4em;
      }
      a {
        color: $color-3;
        font-size: 1.35em;
      }
      // border: dashed hotpink 5px;
    }
  }


}